#score {
  position: absolute;
  top: 0;
  right: 0;
  color:#fff;
  z-index: 1000;
  font-size:40px;
  padding-right:20px;
}

.canvas-cont {
   position:relative;
   height:100%;
   width:100%;
}

#canvas {
   position:absolute;
   height:100%;
   width:100%;
   margin-right:300px;
}

.snake {
  position:absolute;
  z-index: 100;
  background:black;
  opacity:0.5;
}

.apple {
  position:absolute;
  background:black;
  z-index: 100;
  opacity:0.7;
}

@media(min-width: 800px) {
    body, html {
        overflow: hidden;
    }
}

@media(max-width: 800px) {
    #canvas, #score {
        display: none;
    }
}

#wrapper {
    z-index: 200;
}

#main {
    opacity: 0.8;
}